<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preparing-data-for-SmartTables" data-toc-modified-id="Preparing-data-for-SmartTables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preparing data for SmartTables</a></span><ul class="toc-item"><li><span><a href="#First,-we-read-each-Excel-sheet-into-a-separate-data-frame" data-toc-modified-id="First,-we-read-each-Excel-sheet-into-a-separate-data-frame-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>First, we read each Excel sheet into a separate data frame</a></span></li><li><span><a href="#Next,-we-concatenate-the-$log_2FC$-and-$p_{adj}$-columns-from-each-dataframe-into-one-overall-table,-while-preserving-the-name-of-the-sheet-where-the-columns-came-from" data-toc-modified-id="Next,-we-concatenate-the-$log_2FC$-and-$p_{adj}$-columns-from-each-dataframe-into-one-overall-table,-while-preserving-the-name-of-the-sheet-where-the-columns-came-from-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Next, we concatenate the $log_2FC$ and $p_{adj}$ columns from each dataframe into one overall table, while preserving the name of the sheet where the columns came from</a></span></li><li><span><a href="#SmartTables-can't-handle-multi-index-headers,-so-we-flatten-them" data-toc-modified-id="SmartTables-can't-handle-multi-index-headers,-so-we-flatten-them-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>SmartTables can't handle multi-index headers, so we flatten them</a></span></li><li><span><a href="#If-you-are-using--Binder,-download-the-data-file-to-your-Desktop" data-toc-modified-id="If-you-are-using--Binder,-download-the-data-file-to-your-Desktop-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>If you are using  Binder, <a href="Data/all_data.tab" target="_blank">download the data file</a> to your Desktop</a></span></li></ul></li></ul></div>

# Preparing data for SmartTables

## First, we read each Excel sheet into a separate data frame

In [1]:
import pandas as pd
excel_file = 'Data4Deanna.xlsx'
sheets = ['oneA','thirty3B','fiveE','oneAA','fiveE1AA','Sp245']
tab_file = 'Data/{}.tab'
data = {}
for sheet_name in sheets:
    print('loading {}...'.format(sheet_name))
    data[sheet_name] = pd.read_excel(excel_file,
                                     sheet_name = sheet_name,
                                     index_col='locus')
    data[sheet_name].to_csv(tab_file.format(sheet_name),
                           sep='\t')
print('...Done!')

loading oneA...
loading thirty3B...
loading fiveE...
loading oneAA...
loading fiveE1AA...
loading Sp245...
...Done!

In [2]:
data['oneA'].head()

,log2FoldChange,padj,symbol,description
locus,,,,
AT1G01010,0.076853,0.892628,NAC001,NAC domain containing protein 1
AT1G01020,-0.008956,0.995121,ARV1,ARV1 family protein
AT1G01030,-0.083952,0.926985,NGA3,AP2/B3-like transcriptional factor family protein
AT1G01040,-0.157022,0.235570,DCL1,dicer-like 1
AT1G01046,NaN,NaN,MIR838A,NaN

In [3]:
!head Data/oneA.tab

locus	log2FoldChange	padj	symbol	description
AT1G01010	0.0768530300852476	0.892627686748534	NAC001	NAC domain containing protein 1
AT1G01020	-0.00895559442382719	0.995120528704801	ARV1	ARV1 family protein
AT1G01030	-0.0839523730476669	0.926985018759614	NGA3	AP2/B3-like transcriptional factor family protein
AT1G01040	-0.157022275442151	0.235569878530823	DCL1	dicer-like 1
AT1G01046			MIR838A
AT1G01050	-0.0395301732277778	0.93708777333873	PPa1	pyrophosphorylase 1
AT1G01060	-0.613400854536766	0.00353990861087505	LHY	Homeodomain-like superfamily protein
AT1G01070	0.41787319188741	0.440897027671052	UMAMIT28	nodulin MtN21 /EamA-like transporter family protein
AT1G01080	-0.0945540528475585	0.80601186795176		RNA-binding (RRM/RBD/RNP motifs) family protein

## Next, we concatenate the $log_2FC$ and $p_{adj}$ columns from each dataframe into one overall table, while preserving the name of the sheet where the columns came from

In [4]:
all_data = pd.concat([data[sheet_name][['log2FoldChange','padj']] 
           for sheet_name in sheets],
          axis=1,
          keys=sheets,
          names=['sheet_names','columns']              
     )
all_data.head()

sheet_names           oneA                 thirty3B                    fiveE  \
columns     log2FoldChange      padj log2FoldChange      padj log2FoldChange
locus
AT1G01010         0.076853  0.892628       0.072862  0.987280       0.540303
AT1G01020        -0.008956  0.995121       0.094778  0.914780      -0.912086
AT1G01030        -0.083952  0.926985       0.018431  1.000000      -0.219160
AT1G01040        -0.157022  0.235570      -0.120788  0.589957      -0.080212
AT1G01046              NaN       NaN            NaN       NaN            NaN

sheet_names                    oneAA                 fiveE1AA            \
columns          padj log2FoldChange      padj log2FoldChange      padj
locus
AT1G01010    0.009644       0.494991  0.016639       0.575039  0.001851
AT1G01020    0.038607      -0.476579  0.338809      -0.397241  0.402461
AT1G01030    0.769281      -0.364972  0.448813      -0.382830  0.359911
AT1G01040    0.809396      -0.037010  0.932368      -0.155954  0.364398
AT1G01046         NaN            NaN       NaN            NaN       NaN

sheet_names          Sp245
columns     log2FoldChange      padj
locus
AT1G01010        -0.441594  0.073078
AT1G01020         0.481573  0.230500
AT1G01030        -0.299845  0.492213
AT1G01040        -0.636500  0.000247
AT1G01046              NaN       NaN

## SmartTables can't handle multi-index headers, so we flatten them

In [5]:
flat_headers = ['{}_{}'.format(sheet_name,column) 
                    for sheet_name, column in
                        zip(all_data.columns.get_level_values( 'sheet_names' ),
                            all_data.columns.get_level_values( 'columns' ) )]

all_data_w_flat_headers = all_data.copy()
all_data_w_flat_headers.columns = flat_headers
all_data_w_flat_headers.to_csv('Data/all_data.tab',
                header=flat_headers,
                sep='\t')
all_data_w_flat_headers.head()

,oneA_log2FoldChange,oneA_padj,thirty3B_log2FoldChange,thirty3B_padj,fiveE_log2FoldChange,fiveE_padj,oneAA_log2FoldChange,oneAA_padj,fiveE1AA_log2FoldChange,fiveE1AA_padj,Sp245_log2FoldChange,Sp245_padj
locus,,,,,,,,,,,,
AT1G01010,0.076853,0.892628,0.072862,0.987280,0.540303,0.009644,0.494991,0.016639,0.575039,0.001851,-0.441594,0.073078
AT1G01020,-0.008956,0.995121,0.094778,0.914780,-0.912086,0.038607,-0.476579,0.338809,-0.397241,0.402461,0.481573,0.230500
AT1G01030,-0.083952,0.926985,0.018431,1.000000,-0.219160,0.769281,-0.364972,0.448813,-0.382830,0.359911,-0.299845,0.492213
AT1G01040,-0.157022,0.235570,-0.120788,0.589957,-0.080212,0.809396,-0.037010,0.932368,-0.155954,0.364398,-0.636500,0.000247
AT1G01046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## If you are using  Binder, [download the data file](Data/all_data.tab) to your Desktop